body {
    color: white;
}

.header {
    position: relative;
    height: 150px;
}

#logo {
    height: 150px;
    margin-right: 41%;
    margin-left: 41%;
}

section {
    width: 90%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
}

h1 {
    font-size: 22px;
}

.charOptions {
    position: relative;
    text-align: center;
    height: 250px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.fight {
}

.chooseChar {
    position: relative;
    margin: 30px;
    float: left;
}

/* pictures used to select */
#yoda,
#rey,
#luke,
#kylo {
    height: 100px;
}

.stats {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 150px;
    text-shadow: .5px .5px black;
    margin-left: 10%;
}

.battleGround {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 250px;
    margin-top: 50px;
    padding: 10px;
}

#myChar {
    margin: 20px;
    height: 300px;
}

#opp {
    margin: 20px;
    height: 300px;
}

#userStats {
    position: absolute;
    bottom: -120px;
    left: 150px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}

#currentOpp {
    position: relative;
    float: right;
}

#oppStats {
    position: absolute;
    bottom: -120px;
    right: 150px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}

#attackButton {
    width: 125px;
    height: 50px;
    border: 2px solid red;
    color: red;
    margin-top: 125px;
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    float: left;
}



/* pictures used to display as user char */

#userChar {
    width: auto;
    float: left;
    height: 250px;
}


/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-1;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}